<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Coin Shop Content</title>
        <link href="/css/coinShopContent.css" rel="stylesheet">
        <script src="/js/coinShopContent.js"></script>
    </head>
    <body>
        <div id="popup" class="popup">
            <div class="popup-content"></div>
        </div>

        <div id="shop">
            <div id="coinCounterDiv">
                <img src="/assets/icons/coin.svg" alt="logo" id="coinButton">
                <p id="coinCounter" th:text="${mollardValue}">0</p>
            </div>
        </div>

        <div id="coinShopDiv">
            <div id="commonBuyDiv">
                <div class="coinValueDiv">
                    <span>100 x </span>
                    <img src="/assets/icons/coin.svg" alt="logo" class="coinButton">
                </div>
                <div class="euroValueDiv" onclick="openPopup('buyButton', 'commonBuy')">1€99</div>
            </div>

            <div id="rareBuyDiv">
                <div class="coinValueDiv">
                    <span>500 x </span>
                    <img src="/assets/icons/coin.svg" alt="logo" class="coinButton">
                </div>
                <div class="euroValueDiv" onclick="openPopup('buyButton', 'rareBuy')">8€99</div>
            </div>

            <div id="mythicBuyDiv">
                <div class="coinValueDiv">
                    <span>1000 x </span>
                    <img src="/assets/icons/coin.svg" alt="logo" class="coinButton">
                </div>
                <div class="euroValueDiv" onclick="openPopup('buyButton', 'mythicBuy')">15€99</div>
            </div>
        </div>
    </body>
</html>
