<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Element Case Content</title>
        <link href="/css/elementCaseContent.css" rel="stylesheet">
    </head>
    <body>
        <div id="popup" class="popup">
            <div class="popup-content"></div>
        </div>

        <div class="container">
            <div class="caisseDiv">
                <div class="caisse" onclick="getSkin('Common')">
                    <img class="lootboxAnimated" src="/assets/icons/lootbox_animated1.svg" alt="Logo Caisse 1">
                    <div class="buy">
                        <p th:text="${buyCommonCase}">Buy common case</p>
                        <p th:text="${commonCaseMollards}">110 Mollards</p>
                    </div>
                </div>
                <div class ="stats">
                    <p th:text="${chances}" class="chancesCenter">Chances :</p>
                    <ul>
                        <li th:text="${commonSkin55}">Skin Commun : 55%</li>
                        <li th:text="${uncommonSkin30}">Skin Peu Commun : 30%</li>
                        <li th:text="${rareSkin15}">Skin Rare : 15%</li>
                        <li th:text="${mythicSkin5}">Skin Très Rare : 5%</li>
                    </ul>
                </div>
            </div>

            <div class="caisseDiv">
                <div class="caisse" onclick="getSkin('Rare')">
                    <img class="lootboxAnimated" src="/assets/icons/lootbox_animated2.svg" alt="Logo Caisse 2">
                    <div class="buy">
                        <p th:text="${buyRareCase}">Buy rare case</p>
                        <p th:text="${rareCaseMollards}">510 Mollards</p>
                    </div>
                </div>
                <div class ="stats">
                    <p th:text="${chances}" class="chancesCenter">Chances :</p>
                    <ul>
                        <li th:text="${commonSkin30}">Objet Commun : 30%</li>
                        <li th:text="${uncommonSkin30}">Objet Peu Commun : 30%</li>
                        <li th:text="${rareSkin25}">Objet Rare : 25%</li>
                        <li th:text="${mythicSkin15}">Objet Très Rare : 15%</li>
                    </ul>
                </div>
            </div>
            <div class="caisseDiv">
                <div class="caisse" onclick="getSkin('Mythic')">
                    <img class="lootboxAnimated" src="/assets/icons/lootbox_animated3.svg" alt="Logo Caisse 3">
                    <div class="buy">
                        <p th:text="${buyMythicCase}">Buy mythic case</p>
                        <p th:text="${mythicCaseMollards}">1010 Mollards</p>
                    </div>
                </div>
                <div class ="stats">
                    <p th:text="${chances}" class="chancesCenter">Chances :</p>
                    <ul>
                        <li th:text="${commonSkin10}">Objet Commun : 10%</li>
                        <li th:text="${uncommonSkin10}">Objet Peu Commun : 10%</li>
                        <li th:text="${rareSkin40}">Objet Rare : 40%</li>
                        <li th:text="${mythicSkin40}">Objet Très Rare : 40%</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>