<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Element Case Content</title>
        <link href="/css/elementCaseContent.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="caisse">
                <img src="/assets/logo/MoThUS circle logo.svg" alt="Logo Caisse 1">
                <p>Prix : 180 €</p>
                <div class ="stats">
                    <p>Chances :</p>
                    <ul>
                        <li>Objet Commun : 70%</li>
                        <li>Objet Rare : 20%</li>
                        <li>Objet Très Rare : 10%</li>
                    </ul>
                </div>
            </div>
            <div class="caisse">
                <img src="/assets/logo/MoThUS circle logo.svg" alt="Logo Caisse 2">
                <p>Prix : 250 €</p>
                <div class ="stats">
                    <p>Chances :</p>
                    <ul>
                        <li>Objet Commun : 50%</li>
                        <li>Objet Rare : 30%</li>
                        <li>Objet Très Rare : 20%</li>
                    </ul>
                </div>
            </div>
            <div class="caisse">
                <img src="/assets/logo/MoThUS circle logo.svg" alt="Logo Caisse 3">
                <p>Prix : 500 €</p>
                <div class ="stats">
                    <p>Chances :</p>
                    <ul>
                        <li>Objet Commun : 20%</li>
                        <li>Objet Rare : 50%</li>
                        <li>Objet Très Rare : 30%</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>