<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Element Case Content</title>
        <link href="/css/elementCaseContent.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="caisseDiv">
                <div class="caisse" onclick="getSkin('Common')">
                    <img class="lootboxAnimated" src="/assets/icons/lootbox_animated1.svg" alt="Logo Caisse 1">
                    <div class="buy">
                        <p>Buy common case</p>
                        <p>510 Mollards</p>
                    </div>
                </div>
                <div class ="stats">
                    <p class="chancesCenter">Chances :</p>
                    <ul>
                        <li>Objet Commun : 55%</li>
                        <li>Objet Peu Commun : 30%</li>
                        <li>Objet Rare : 15%</li>
                        <li>Objet Très Rare : 5%</li>
                    </ul>
                </div>
            </div>

            <div class="caisseDiv">
                <div class="caisse" onclick="getSkin('Rare')">
                    <img class="lootboxAnimated" src="/assets/icons/lootbox_animated2.svg" alt="Logo Caisse 2">
                    <div class="buy">
                        <p>Buy rare case</p>
                        <p>510 Mollards</p>
                    </div>
                </div>
                <div class ="stats">
                    <p class="chancesCenter">Chances :</p>
                    <ul>
                        <li>Objet Commun : 30%</li>
                        <li>Objet Peu Commun : 30%</li>
                        <li>Objet Rare : 25%</li>
                        <li>Objet Très Rare : 15%</li>
                    </ul>
                </div>
            </div>
            <div class="caisseDiv">
                <div class="caisse" onclick="getSkin('Mythic')">
                    <img class="lootboxAnimated" src="/assets/icons/lootbox_animated3.svg" alt="Logo Caisse 3">
                    <div class="buy">
                        <p>Buy mythic case</p>
                        <p>510 Mollards</p>
                    </div>
                </div>
                <div class ="stats">
                    <p class="chancesCenter">Chances :</p>
                    <ul>
                        <li>Objet Commun : 10%</li>
                        <li>Objet Peu Commun : 10%</li>
                        <li>Objet Rare : 40%</li>
                        <li>Objet Très Rare : 40%</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>