<a href="/login" id="returnButton">⮪</a>
<div id="loginPanelLogo">
    <img src="/assets/logos/MoThUS_logo.svg" alt="logo" id="mothusLogo">
</div>
<div id="loginPanelButtons">
    <form method="post" id="registerForm" th:action="@{/processRegister}" th:object="${registrationDto}">
        <label for="usernameInput" th:text="${usernameLabel}"></label><br>
        <input type="text" id="usernameInput" th:field="*{username}" name="username" required><br>
        <label for="emailInput" th:text="${emailLabel}"></label><br>
        <input type="email" id="emailInput" th:field="*{email}" name="email" required><br>
        <label for="passwordInput" th:text="${passwordLabel}"></label><br>
        <input type="password" id="passwordInput" th:field="*{password}" name="password" required><br>
        <label for="passwordConfirmInput" th:text="${confirmPasswordLabel}"></label><br>
        <input type="password" id="passwordConfirmInput" th:field="*{passwordConfirm}" name="password" required><br>
        <input type="submit" th:value="${registerLabel}" id="registerInput">
    </form>
</div>