<a href="/login" id="returnButton"></a>
<div id="loginPanelLogo">
    <img src="/assets/logos/MoThUS_logo.svg" alt="logo" id="mothusLogo">
</div>
<div id="loginPanelButtons">
    <form method="post" id="registerForm" th:action="@{/register}" th:object="${registrationDto}">
        <label for="usernameInput">Username</label><br>
        <input type="text" id="usernameInput" th:field="*{username}" name="username" required><br>
        <label for="emailInput">Email</label><br>
        <input type="email" id="emailInput" th:field="*{email}" name="email" required><br>
        <label for="passwordInput">Password</label><br>
        <input type="password" id="passwordInput" th:field="*{password}" name="password" required><br>
        <label for="passwordConfirmInput">Confirm password</label><br>
        <input type="password" id="passwordConfirmInput" th:field="*{passwordConfirm}" name="password" required><br>
        <input type="submit" value="Register" id="registerInput">
    </form>
</div>