<a href="/login" id="returnButton"></a>
<div id="loginPanelLogo">
    <img src="/assets/logos/MoThUS_logo.svg" alt="logo" id="mothusLogo">
</div>
<div id="loginPanelButtons">
    <form method="post" id="registerForm" th:action="@{/processRegister}" th:object="${registrationDto}">
        <label for="username">Username</label><br>
        <input id="username" name="username" required th:field="*{username}" type="text"><br>
        <label for="email">Email</label><br>
        <input id="email" name="email" required th:field="*{email}" type="email"><br>
        <label for="password">Password</label><br>
        <input id="password" name="password" required th:field="*{password}" type="password"><br>
        <label for="passwordConfirm">Confirm password</label><br>
        <input id="passwordConfirm" name="password" required th:field="*{passwordConfirm}" type="password"><br>
        <input type="submit" value="Register" id="registerInput">
    </form>
</div>