<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Terms of use Content</title>
</head>
<body>
<h1>1. Préambule</h1>
<p>Les présentes Conditions Générales d'Utilisation (ci-après "CGU") régissent l'utilisation du site web MoThUS
(ci-après "le Site") développé par la société Siesth. L'accès et l'utilisation du Site impliquent l'acceptation intégrale
et sans réserve de ces CGU par l'utilisateur.</p>
<h1>2. Définitions</h1>
<ul>
    <li><b>Utilisateur</b> : toute personne accédant au Site.</li>
    <li><b>Compte Utilisateur</b> : espace personnel accessible après inscription, permettant à l'Utilisateur d'accéder à
        divers services du Site.</li>
    <li><b>Jeu MoThUS</b> : jeu disponible sur le Site.</li>
</ul>
<h1>3. Inscription et Compte Utilisateur</h1>
<h4>3.1. Pour accéder à certaines fonctionnalités du Site, l'Utilisateur doit créer un Compte Utilisateur en
    fournissant un nom d'utilisateur, une adresse e-mail et un mot de passe.</h4>
<h4>3.2. L'Utilisateur est responsable de la confidentialité de son mot de passe et des activités associées à son
    Compte Utilisateur.</h4>
<h1>4. Jeu MoThUS</h1>
<h4>4.1. L'accès au Jeu MoThUS peut nécessiter des frais. Les modalités de paiement sont détaillées dans la
section dédiée du Site.</h4>
<h4>4.2. La société Siesth se réserve le droit de modifier ou de supprimer tout ou partie des Jeu MoThUS sans
    préavis.</h4>
<h1>5. Responsabilités</h1>
<h4>5.1. La société Siesth s'efforce d'assurer la disponibilité, la fiabilité et la sécurité du Site, mais ne peut garantir
    l'absence d'interruptions, d'erreurs ou d'attaques malveillantes.</h4>
<h4>5.2. L'Utilisateur est seul responsable de l'utilisation du Site et des conséquences directes ou indirectes
    découlant de cette utilisation.</h4>
<h1>6. Protection des données personnelles</h1>
<h4>6.1. La collecte et le traitement des données personnelles de l'Utilisateur sont régis par la Politique de
    Confidentialité du Site.</h4>
<h1>7. Modifications des CGU</h1>
<h4>7.1. La société Siesth se réserve le droit de modifier ces CGU à tout moment. Les modifications seront
    publiées sur le Site et seront applicables dès leur mise en ligne.</h4>
<h1>8. Loi applicable et juridiction</h1>
<h4>8.1. Ces CGU sont régies par le droit français. Tout litige relatif à leur interprétation ou exécution sera soumis
    aux tribunaux compétents de France.</h4>
</body>
</html>
