<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Terms of use Content</title>
</head>
<body>
    <h1 th:text="${title1}" style="font-weight: bold"></h1>
    <p th:text="${title1Par}"></p>
    <h1 th:text="${title2}" style="font-weight: bold"></h1>
    <ul>
        <li th:text="${title2Dot1}"></li>
        <li th:text="${title2Dot2}"></li>
        <li th:text="${title2Dot3}"></li>
    </ul>
    <h1 th:text="${title3}" style="font-weight: bold"></h1>
    <h4 th:text="${title3Dot1}" style="font-weight: bold"></h4>
    <h4 th:text="${title3Dot2}" style="font-weight: bold"></h4>
    <h1 th:text="${title4}" style="font-weight: bold"></h1>
    <h4 th:text="${title4Dot1}" style="font-weight: bold"></h4>
    <h4 th:text="${title4Dot2}" style="font-weight: bold"></h4>
    <h1 th:text="${title5}" style="font-weight: bold"></h1>
    <h4 th:text="${title5Dot1}" style="font-weight: bold"></h4>
    <h4 th:text="${title5Dot2}" style="font-weight: bold"></h4>
    <h1 th:text="${title6}" style="font-weight: bold"></h1>
    <h4 th:text="${title6Dot1}" style="font-weight: bold"></h4>
    <h1 th:text="${title7}" style="font-weight: bold"></h1>
    <h4 th:text="${title7Dot1}" style="font-weight: bold"></h4>
    <h1 th:text="${title8}" style="font-weight: bold"></h1>
    <h4 th:text="${title8Dot1}" style="font-weight: bold"></h4>
</body>
</html>
