body {
    /* background gradient */
    background-image: url("/assets/skins/pageSkins/image/blueChemistry.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}