body {
    /* background gradient */
    background: linear-gradient(to bottom right, #df0698, #141d9f)
}

#helpButton, #statsButton, #accountButton, #coinCounterDiv {
    filter: invert(100%);
}

#coinButton {
    filter: invert(100%);
}