body {
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: row;
    width : 100vw;
    height: 100vh;
}

#verticalMenu {
    min-width: 100px;
    max-width: 200px;
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
}

#verticalMenu button {
    display: block;
    cursor: pointer;
    border: none;
    padding: 5px;
}

#verticalMenu #goBackButton {
    width: 90px;
    height: 90px;
    border-bottom-right-radius: 50%;
    border: 1px solid black;
    margin-bottom: 10px;
    display: block;
}

#verticalMenu #goBackButton:hover {
    background-color: #e6e6e6;
}

#verticalMenu .verticalMenuButton {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#verticalMenu .verticalMenuButton .verticalMenuButtonIcon {
    height: 70%;
}

#verticalMenu .verticalMenuButton .verticalMenuButtonText {
    min-height: 20%;
    font-size: 1.6em;
    width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 2vh;
}