body {
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: row;
    width : 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
}

.caisse {
    margin: 10px;
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #b8b9bc;
    border: 2px solid black;
    border-radius: 20px;
}

.stats {
    display: none;
    border: 2px solid black;
    border-radius: 20px;
    align-self: center;
    padding: 1vh;
}

.caisseDiv:hover .stats {
    display: block;
}

.lootboxAnimated {
    width: 26vh;
    object-fit: cover;
    margin: inherit;
}

.caisseDiv {
    display: flex;
    flex-direction: column;
}

.buy{
    border: 2px black solid;
    margin: inherit;
    border-radius: 20px;
    background-color: white;
}

.buy:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

.chancesCenter{
    text-align: center;
}