
/**
 * Main div with 100 % of the page size and flexbox to center the login panel in the middle of the page. No scrollbars.
 */
body {
    background-image: url("../assets/Login_Wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/**
 * Login panel with a max width of 600px and a height of 60% of the page size. The panel has a box shadow and is a flexbox with a column direction.
 */
#loginPanel {
    background-color: white;
    max-width: 600px;
    width: 100%;
    height: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5%;
}

/**
 * Set the max-width for media
 */
@media (max-width: 768px) {
    #loginPanel {
        max-width: 100%;
    }
}

/**
 * Login panel buttons in vertical direction with space around.
 */
#loginPanelButtons {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    align-items: center
}

/**
 * Login panel logo
 */
#loginPanelLogo {
    width: 98%;
    height: 20%;
    margin: 2% 1% 2% 1%;
}

/**
 * Login panel buttons
 */
button {
    align-self: center;
    width: 80%;
    height: 5em;
}

#mothusLogo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 3%;
}

#LoginButton {
    background-color: #005f9f;
    color: white;
    font-size: 1.5em;
    border-radius: 20px;
    border: none;
}

#LoginButton:hover {
    background-color: #004d8c;
    cursor: pointer;
}

#RegisterButton {
    background-color: #997100;
    color: white;
    font-size: 1.5em;
    border-radius: 20px;
    border: none;
}

#RegisterButton:hover {
    background-color: #7a5f00;
    cursor: pointer;
}

#PlayAsInviteButton {
    background-color: #7f00fd;
    color: white;
    font-size: 1.5em;
    border-radius: 20px;
    border: none;
}

#PlayAsInviteButton:hover {
    background-color: #6b00d4;
    cursor: pointer;
}



