<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/helpPopup.css">
    <title>Title</title>
</head>
<body>
    <div id="grayedZone">
        <div id="helpZone">
            <h1>MoThUS ?</h1>
            <p>MoThUS is a game based on Motus or the famous Wordle. This game will put your brain to the test
                while improving your knowledge of chemistry, because here, instead of using the letters on the
                keyboard, we'll be playing with the periodic table of chemical elements.</p>
            <h1>Rules</h1>
            <p>You have 8 tries to guess the word of the day, common to all.
                You can only suggest words that begin with the same letter as the word you are looking for, and that
                can be found in our dictionary.
                Proper nouns are not accepted.
                The word changes every day. So avoid spoilers and use the share button instead.</p>
            <div id="mothusLetersExemple">
                <p></p>
                <!-- PUT HERE EXEMPLE OF WORD FROM PENPOT -->
            </div>
            <p>Letters surrounded by a red square are correctly placed,
                the letters surrounded by a yellow circle are wrongly placed (but present in the word).
                Letters with a blue background are not in the word.</p>
        </div>
    </div>
</body>
</html>