<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/css/login.css">
<head>
    <meta charset="UTF-8">
    <title>MoThUS - Login</title>
</head>
<body>
    <div id="loginPanel">
        <div id="loginPanelLogo">
            <img src="TEMP_LOGO.png" alt="logo">
        </div>
        <div id="loginPanelButtons">
            <button id="LoginButton">Login</button>
            <button id="RegisterButton">Register</button>
            <button id="PlayAsInviteButton">Play as Invite</button>
        </div>
    </div>
</body>
</html>