<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="/css/login.css">
    <head>
        <meta charset="UTF-8">
        <title th:text="${pageTitle}">Page Title</title>
    </head>
    <body>
        <div id="loginPanel">
            <div id="loginPanelLogo">
                <img src="TEMP_LOGO.png" alt="logo">
            </div>
            <div id="loginPanelButtons">
                <button id="LoginButton" th:text="${loginButton}" onclick="loadContent('/loginContent')">Login</button>
                <button id="RegisterButton" th:text="${registerButton}" onclick="loadContent('/registerContent')">Register</button>
                <a href="/playZone">
                    <button id="PlayAsInviteButton" th:text="${playAsInviteButton}">Play as Invite</button>
                </a>
            </div>
        </div>

        <script>
            function loadContent(url) {
                fetch(url)
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById('loginPanel').innerHTML = data;
                    })
                    .catch(error => console.error('Error:', error));
            }
        </script>
    </body>
</html>