<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${pageTitle}">Page Title</title>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="icon" href="/assets/icons/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <script src="/js/notify.js"></script>
        <script src="/js/login.js"></script>
    </head>
    <body>

        <div id="popup" class="popup">
            <div class="popup-content"></div>
        </div>

        <div id="loginPanel">
            <div id="loginPanelLogo">
                <img src="/assets/logos/MoThUS_logo.svg" alt="logo" id="mothusLogo">
            </div>
            <div id="loginPanelButtons">
                <button class="homeLoginButton" id="LoginButton" th:text="${loginButton}" onclick="loadContent('/loginContent')">Login</button>
                <button class="homeLoginButton" id="RegisterButton" th:text="${registerButton}" onclick="loadContent('/registerContent')">Register</button>
                <button class="homeLoginButton" id="PlayAsInviteButton" th:text="${playAsInviteButton}" onclick="location.href='/playZone'">Play as Invite</button>
            </div>
        </div>

        <div th:if="${registrationSuccess}" class="alert alert-registration-success" role="alert" th:text="${registrationSuccessMessage}">
        </div>
        <div th:if="${pendingRegistration}" class="alert alert-registration-pending" role="alert" th:text="${pedingRegistrationMessage}">
        </div>
        <div th:if="${registrationError}" class="alert alert-registration-error" role="alert" th:text="${registrationErrorMessage}">
        </div>
        <!-- TODO : Add th:text -->
        <div class="alert alert-registration-password-error" role="alert" th:if="${registrationPasswordError}">
        </div>
        <div th:if="${loginError}" class="alert alert-login-error" role="alert" th:text="${loginErrorMessage}">
        </div>
        <div th:if="${wrongCodeRegistration}" class="alert alert-registration-wrong-code" role="alert" th:text="${wrongCodeRegistrationMessage}">
        </div>
    </body>
</html>