<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${pageTitle}">Page Title</title>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link href="/assets/icons/favicon.ico" rel="icon" type="image/x-icon"/>
        <link href="/css/playZone.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js"></script>
        <script src="/js/playZone.js"></script>
        <script src="/js/helpPopup.js"></script>
    </head>
    <body>

        <div class="popup" id="popup">
            <div class="popup-content"></div>
        </div>


        <div id="topBanner">
            <div id="help">
                <img alt="logo" id="helpButton" onclick="openPopup('helpButton')" src="/assets/icons/HelpIcon.svg">
            </div>
            <div id="stats" sec:authorize="hasRole('ROLE_USER')">
                <img alt="logo" id="statsButton" onclick="openPopup('statsButton')" src="/assets/icons/StatsIcon.svg">
            </div>
            <div id="logo">
                <img alt="logo" id="mothusLogo" src="/assets/logos/MoThUS_logo.svg">
            </div>
            <div id="account">
                <img alt="logo" id="accountButton" onclick="location.href='/login'"
                     sec:authorize="!hasRole('ROLE_USER')" src="/assets/icons/AccountIcon.svg">
                <img alt="logo" id="accountButton" onclick="location.href='/accountZone'"
                     sec:authorize="hasRole('ROLE_USER')"
                     src="/assets/icons/AccountIcon.svg">
            </div>
            <div id="shop" onclick="location.href='/shopZone'"
                 sec:authorize="hasRole('ROLE_USER')">
                <!-- TODO : Create coin/shop button here -->
            </div>
        </div>
        <hr id="topBannerSeparator">

        <!-- This is the play zone, where the user will play the game -->
        <div id="gameTable">
            <table id="mothusHtmlTable"></table>
        </div>

        <div id="periodicTable">
            <table id="periodicHtmlTable"></table>
        </div>

        <!-- if Google AdSense don't find any ad, it will display empty iframe -->
        <!-- Google AdSense Test Ad Code -->
        <script async
                crossorigin="anonymous"
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9280706319266514"></script>
        <!-- AdvertisingInsert -->
        <ins class="adsbygoogle" data-ad-client="ca-pub-9280706319266514" data-ad-slot="4640802213" data-adtest="on"
             id="advertisingInsert"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </body>
</html>