<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${pageTitle}">Page Title</title>
        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="/css/playZone.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js"></script>
        <script src="/js/playZone.js"></script>
    </head>
    <body>

        <div id="topBanner">
            <div id="help" onclick="location.href='/helpPopup'"> <!-- Temporary link -->
                <!-- TODO : Create help button here -->
            </div>
            <div id="stats" onclick="location.href='/statsPopup'"> <!-- Temporary link -->
                <!-- TODO : Create stats button here -->
            </div>
            <div id="logo">
                <img src="/assets/MoThUS_logo.svg" alt="logo" id="mothusLogo">
            </div>
            <div id="account" onclick="location.href='/accountZone'"> <!-- Temporary link -->
                <!-- TODO : Create account button here -->
            </div>
            <div id="shop" onclick="location.href='/shopZone'"> <!-- Temporary link -->
                <!-- TODO : Create coin/shop button here -->
            </div>
        </div>

        <!-- This is the play zone, where the user will play the game -->
        <div id="gameTable">
            <!-- TODO : Create in JS the table here with the text file -->
            <table id="mothusHtmlTable">

            </table>
        </div>

        <div id="periodicTable">
            <table id="periodicHtmlTable"></table>
        </div>

        <!-- if Google AdSense don't find any ad, it will display empty iframe -->
        <!-- Google AdSense Test Ad Code -->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9280706319266514" crossorigin="anonymous"></script>
        <!-- AdvertisingInsert -->
        <ins id="advertisingInsert" class="adsbygoogle" data-ad-client="ca-pub-9280706319266514" data-adtest="on" data-ad-slot="4640802213"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </body>
</html>