<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/confirmEmailPopup.css">
    <title>MoThUS - Email confirm</title>
</head>
<body>
    <div id="background">
        <div id="confirmEmailPopup">
            <p>
                You have received a verification code on your email address, please enter it here :
            </p>
            <form id="confirmEmailForm">
                <label>
                    <input type="text" placeholder="ABC123DEF">
                </label>
                <button type="submit">Confirmer l'addresse email</button>
            </form>
        </div>
    </div>
</body>
</html>